@media screen and (max-width: 768px) {
    .container{
        padding: 0 10px;
    }
    header .soc_net{
       justify-content: center;
   }
    header .protect_elem{
        bottom: -42px;
        top: auto;
        width: 100%;
        left: 0;
    }
    .main{
        padding: 80px 0 40px;
    }
    .main a{
        width: 100%;
    }
    .parts_sec .name{
        margin-bottom: 30px;
    }
    .part{
        display: block;
    }
    .left_part, .right_part{
        width: 100%;
    }
    .part .video_el{
        width: 100%;
        float: none;
    }
    .right_part p{
        float: none;
    }
    .border_block{
        margin: 30px auto;
    }
    .part2 .content ul li{
        display: block;
        margin-bottom: 10px;
    }
    .part2 .content ul li p{
        width: 100%;
        max-width: 100%;
    }
    .part2 .content ul li a{
        margin-top: 10px;
        display: block;
        margin-bottom: 10px;
    }
    .parts_sec{
        padding-bottom: 40px;
    }
    .save_block{
        width: 100%;
    }
    .save_block>div:first-child{
        font-size: 46px;
    }
    .save_block>div:nth-child(2){
        font-size: 60px;
    }
    .letter_sec .title{
        padding: 10px 0;
    }
    .news_papers ul li{
        display: block;
    }
    .news_papers ul li img, .news_papers ul li .content{
        width: 100%;
    }
    .news_papers ul li .content{
        padding-left: 0;
    }
}


@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .container{
        padding: 0 10px;
    }
    .part .video_el{
        width: 100%;
    }
    .title span:last-child {
        font-size: 23px;
        padding-right: 10px;
    }
    .part2 .content ul li a{
        margin-right: 10px;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px){
    .container{
        padding: 0 10px;
    }
}